<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Batch Add Teams</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <app-file-drop accept="text/csv" (fileDropped)="handleFile($event)"></app-file-drop>
  <br/>
  <ng-container *ngIf="data">
    <app-card title="Error" display="error" *ngIf="hasError; else: noError">
      <p>One or more teams has an invalid division. Please ensure that the divisions in the CSV file match the divisions in the database.</p>
    </app-card>
    <ng-template #noError>
      <app-card title="Ready to submit">
        <p>There are {{data.length}} teams to add. If everything looks good, click the Upload button below.</p>
        <br/>
        <button mat-raised-button color="primary" (click)="upload()">Upload</button>
      </app-card>
    </ng-template>
    <mat-table [dataSource]="data">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="school">
        <mat-header-cell *matHeaderCellDef>School</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.school}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="division">
        <mat-header-cell *matHeaderCellDef>Division</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.division ? element.division.name : ''}}
          <span *ngIf="!element.division" style="color: red">{{element.divisionName}}</span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['name', 'school', 'division']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['name', 'school', 'division'];"></mat-row>
    </mat-table>
  </ng-container>
</div>
