<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{problemNumber}}. {{problem.title}}</span>
      <mat-chip-list>
          <mat-chip color="accent" selected="true">{{problemPoints}} {{'WaveCoin'|pluralize:problemPoints}}</mat-chip>
      </mat-chip-list>
    <span class="spacer"></span>
      <button type="button" (click)="submitClicked(true)" mat-raised-button color="accent">Test
      </button>
    <button type="button" (click)="submitClicked(false)" mat-raised-button color="accent">Submit</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="flex display-side">
    <app-card title="Problem">
      <p [innerHtml]="problem.description"></p>
    </app-card>
    <!-- TODO: Different card for open-ended problem. -->
    <app-card title="IO" [pad]="false" *ngIf="isGraded">
      <mat-table #table [dataSource]="problem.testCases">
        <ng-container matColumnDef="input">
          <mat-header-cell *matHeaderCellDef>Input</mat-header-cell>
          <mat-cell *matCellDef="let element"><code>{{element.input}}</code></mat-cell>
        </ng-container>
        <ng-container matColumnDef="output">
          <mat-header-cell *matHeaderCellDef>Output</mat-header-cell>
          <mat-cell *matCellDef="let element"><code>{{element.output}}</code></mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="['input', 'output']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['input', 'output'];"></mat-row>
      </mat-table>
    </app-card>
  </div>
  <div class="flex right">
    <form>
      <mat-form-field color="accent">
        <mat-select placeholder="Language" [(ngModel)]="language" name="language" (selectionChange)="saveCode()">
          <mat-option value="java">Java</mat-option>
          <mat-option value="python">Python 3</mat-option>
          <mat-option value="cpp">C++</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <a mat-raised-button color="accent" [href]="documentation" target="_blank">Documentation</a>
  </div>
  <app-code-mirror [config]="{ lineNumbers: true, lineWrapping: true, mode: 'text/x-python' }"
                   *ngIf="language === 'python'"></app-code-mirror>
  <app-code-mirror [config]="{ lineNumbers: true, lineWrapping: true, mode: 'text/x-java' }"
                   *ngIf="language === 'java'"></app-code-mirror>
  <app-code-mirror [config]="{ lineNumbers: true, lineWrapping: true, mode: 'text/x-c++src' }"
                   *ngIf="language === 'cpp'"></app-code-mirror>
  <br>
  <app-card title="Submissions" [pad]="false" *ngIf="isGraded && submissions.length > 0">
    <mat-list>
      <mat-list-item *ngFor="let submission of submissions.slice().reverse()"><a
          [routerLink]="['/', 'dashboard', 'submission', submission._id]">{{submission.datetime|date:'shortTime'}} {{submission.test ? ' (Test)' : ''}}</a></mat-list-item>
    </mat-list>
  </app-card>
</div>
