<mat-toolbar color="primary">
  <mat-toolbar-row>
    <app-drawer-toggle></app-drawer-toggle>
    <span>{{ problemNumber }}. {{ problem.title }}</span>
    <mat-chip-list>
      <mat-chip color="accent" selected="true"
        >{{ problemPoints }}
        {{ 'WaveCoin' | pluralize: problemPoints }}</mat-chip
      >
    </mat-chip-list>
    <span class="spacer"></span>
    <button
      type="button"
      (click)="submitClicked(true)"
      mat-raised-button
      color="accent"
    >
      Test
    </button>
    <button
      type="button"
      (click)="submitClicked(false)"
      mat-raised-button
      color="accent"
    >
      Submit
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="flex display-side" style="flex: 1;">
  <mat-tab-group style="background: white;">
    <mat-tab label="Problem">
      <div class="container">
        <p [innerHtml]="problem.description"></p>
        <mat-divider style="margin: 1em 0;"></mat-divider>
        <!-- TODO: Show a sample run for open-ended problems -->
        <div *ngIf="isGraded">
          <h3>Sample Data</h3>
          <mat-table #table [dataSource]="problem.testCases">
            <ng-container matColumnDef="input">
              <mat-header-cell *matHeaderCellDef>Input</mat-header-cell>
              <mat-cell *matCellDef="let element"
                ><code>{{ element.input }}</code></mat-cell
              >
            </ng-container>
            <ng-container matColumnDef="output">
              <mat-header-cell *matHeaderCellDef>Output</mat-header-cell>
              <mat-cell *matCellDef="let element"
                ><code>{{ element.output }}</code></mat-cell
              >
            </ng-container>
            <ng-container matColumnDef="explanation">
              <mat-header-cell *matHeaderCellDef>Explanation</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <p>{{ element.explanation }}</p>
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="['input', 'output', 'explanation']"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: ['input', 'output', 'explanation']"
            ></mat-row>
          </mat-table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Submissions" *ngIf="isGraded && submissions.length > 0">
      <mat-list>
        <mat-list-item *ngFor="let submission of submissions.slice().reverse()"
          ><a [routerLink]="['/', 'dashboard', 'submission', submission._id]"
            >{{ submission.datetime | date: 'shortTime' }}
            {{ submission.test ? ' (Test)' : '' }}</a
          ></mat-list-item
        >
      </mat-list>
    </mat-tab>
  </mat-tab-group>
  <div class="flex" style="flex-direction: column;">
    <div class="flex display-side">
      <div class="flex left" style="height: 48px;">
        <mat-button-toggle-group
          name="codeEntryMode"
          [(ngModel)]="codeEntryMode"
          (change)="onCodeEntryModeChange($event)"
        >
          <mat-button-toggle value="editor">Code Editor</mat-button-toggle>
          <mat-button-toggle value="file">File Upload</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="flex right" style="height: 48px; margin-right: 1em;">
        <mat-button-toggle-group
          name="language"
          [(ngModel)]="language"
          (change)="onLanguageChange($event)"
        >
          <mat-button-toggle value="java">Java</mat-button-toggle>
          <mat-button-toggle value="python">Python 3</mat-button-toggle>
          <mat-button-toggle value="cpp">C++</mat-button-toggle>
        </mat-button-toggle-group>
        <a
          mat-raised-button
          color="accent"
          [href]="documentationUrl"
          target="_blank"
        >
          Documentation
        </a>
      </div>
    </div>
    <app-file-drop
      *ngIf="codeEntryMode === 'file'; else codeMirror"
      [accept]="fileExtension"
      (fileDropped)="onFileDropped($event)"
    >
    </app-file-drop>
    <ng-template #codeMirror>
      <!-- TODO: Clean this up hopefully. -->
      <app-code-mirror [language]="language" *ngIf="language.name === 'python'">
      </app-code-mirror>
      <app-code-mirror [language]="language" *ngIf="language.name === 'java'">
      </app-code-mirror>
      <app-code-mirror [language]="language" *ngIf="language.name === 'cpp'">
      </app-code-mirror>
    </ng-template>
  </div>
</div>
