<ng-container [ngSwitch]="attribute.type">
  <ng-container *ngSwitchCase="'boolean'">
    <mat-checkbox
      color="accent"
      [(ngModel)]="value"
      [disabled]="attribute.readonly"
      >{{ hideLabel ? '' : (attribute.name | title) }}</mat-checkbox
    >
    <br /><br />
  </ng-container>
  <angular-editor
    *ngSwitchCase="'wysiwyg'"
    [(ngModel)]="value"
    [disabled]="attribute.readonly"
  ></angular-editor>
  <mat-form-field color="accent" *ngSwitchCase="'multiline'">
    <textarea
      matInput
      [(ngModel)]="value"
      [placeholder]="hideLabel ? null : (attribute.name | title)"
      [readonly]="attribute.readonly"
    ></textarea>
  </mat-form-field>
  <ng-container *ngSwitchCase="'file'">
    <ng-container *ngIf="value; else upload">
      <p>File uploaded.</p>
    </ng-container>
    <ng-template #upload>
      <input
        type="file"
        accept="application/zip"
        (change)="handleFile($event.target.files)"
      />
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'select'">
    <ng-container *ngTemplateOutlet="select"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'multiselect'">
    <ng-container *ngTemplateOutlet="select"></ng-container>
  </ng-container>
  <ng-template #select>
    <mat-form-field color="accent">
      <mat-select
        [(ngModel)]="value"
        [placeholder]="hideLabel ? null : (attribute.name | title)"
        [multiple]="attribute.type === 'multiselect'"
      >
        <mat-option
          *ngFor="let option of options | async"
          [value]="option.value"
          >{{ option.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </ng-template>
  <mat-form-field color="accent" *ngSwitchDefault>
    <input
      matInput
      [(ngModel)]="value"
      [type]="attribute.type || 'text'"
      [placeholder]="hideLabel ? null : (attribute.name | title)"
      [readonly]="attribute.readonly"
    />
  </mat-form-field>
</ng-container>
