<app-card>
  <img src="assets/logo.png" />
  <form
    #loginForm="ngForm"
    [formGroup]="formGroup"
    (submit)="login(loginForm)"
    onsubmit="return false"
  >
    <mat-form-field color="accent">
      <input
        matInput
        name="username"
        formControlName="username"
        type="text"
        placeholder="Username"
      />
    </mat-form-field>
    <mat-form-field color="accent">
      <input
        matInput
        name="password"
        formControlName="password"
        type="password"
        placeholder="Password"
      />
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Log In</button>
  </form>
  <ng-container *ngIf="settings.registration">
    <br />
    <mat-divider></mat-divider>
    <br />
    <button
      mat-raised-button
      color="basic"
      type="button"
      class="register-button"
      (click)="register()"
    >
      Register
    </button>
    <br />
  </ng-container>
  <br />
  <p class="right">
    Build:
    <a href="javascript:void(0)" (click)="showAllCode()">{{ version }}</a>
  </p>
</app-card>
