<h2 mat-dialog-title>CodeLM 2020 Frequently Asked Questions</h2>
<mat-dialog-content>
  <app-card *ngFor="let topic of faq.topics" [title]="topic.title" [pad]="false">
    <mat-list>
      <ng-container *ngFor="let question of topic.questions; last as last">
        <mat-list-item>
          <h3 matLine>{{question.question}}</h3>
          <p matLine>{{question.answer}}</p>
        </mat-list-item>
        <ng-container *ngIf="!last">
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
      </ng-container>
    </mat-list>
  </app-card>
</mat-dialog-content>
