<app-card header="Board">
  <canvas #board width="320" height="320"></canvas>
</app-card>
<div hidden>
  <img src="assets/timesweeper/sqt0.gif" #img>
  <img src="assets/timesweeper/sq0.gif" #img>
  <img src="assets/timesweeper/sq1.gif" #img>
  <img src="assets/timesweeper/sq2.gif" #img>
  <img src="assets/timesweeper/sq3.gif" #img>
  <img src="assets/timesweeper/sq4.gif" #img>
  <img src="assets/timesweeper/sq5.gif" #img>
  <img src="assets/timesweeper/sq6.gif" #img>
  <img src="assets/timesweeper/sq7.gif" #img>
  <img src="assets/timesweeper/sq8.gif" #img>
  <img src="assets/timesweeper/sqt1.gif" #img>
</div>
