.years {
  background: black;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.years > *:not(:last-child) {
  margin-right: 1em;
}

.year {
  color: white;
  text-decoration: none;
  padding: 0.5em;
}

.year.selected {
  font-weight: bold;
}

.two-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.two-up > * {
  flex: 1;
}

.two-up > :not(:last-child) {
  margin-right: 1em;
}

.info {
  margin-top: 1em;
}

.description {
  line-height: 1.25em;
}

.swiper-container {
  width: 50vw;
}
