.years {
  background: black;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.years > *:not(:last-child) {
  margin-right: 1em;
}

.year {
  color: white;
  text-decoration: none;
  padding: 0.5em;
}

.year.selected {
  font-weight: bold;
}

.two-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 800px) {
  .two-up {
    flex-direction: row;
  }

  .two-up > * {
    flex: 1;
  }

  .two-up > :not(:last-child) {
    margin-right: 1em;
  }
}

@media only screen and (max-width: 800px) {
  .two-up > :not(:last-child) {
    margin-bottom: 2em;
  }
}

.info {
  margin-top: 1em;
}

.description {
  display: block;
  line-height: 1.25em;
  margin-bottom: 1em;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.stat {
  text-align: center;
}

.stat img {
  margin-bottom: 0.5em;
}

.swiper-container {
  width: 95vw;
}

@media only screen and (min-width: 800px) {
  .swiper-container {
    width: 50vw;
  }
}
