.body {
  margin-top: 1em;
}

.staff {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1em;
}

@media only screen and (min-width: 800px) {
  .staff {
    flex-direction: row;
  }
}

.staff .member {
  flex: 1;
  text-align: center;
  margin: 0 1em;
}

@media only screen and (max-width: 800px) {
  .staff .member:not(:last-child) {
    margin-bottom: 2em;
  }
}

.staff .member img {
  border-radius: 100%;
  margin-bottom: 0.5em;
}

.staff .member .name {
  margin-bottom: 0.25em;
}

.staff .member .bio {
  text-align: justify;
  text-align-last: center;
}
