@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/2018_1.jpg');
  background-position-x: right;
  background-position-y: 65%;
  background-size: cover;
  width: 100vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1,
.header h4 {
  color: white;
}

.header h1 {
  font-size: 5em;
}

.header h4 {
  font-size: 2em;
}

.header .divider {
  width: 500px;
  height: 1px;
  background: white;
  margin: 1em;
}

.nav {
  display: flex;
  list-style: none;
  position: sticky;
  top: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  width: 100vw;
  background: maroon;
  padding: 1em;
  justify-content: center;
  font-size: 1.25em;
  margin-bottom: 1em;
}

.nav .spacer {
  color: white;
  margin: 0 0.5em;
  cursor: default;
}

.nav a {
  text-decoration: none;
  color: white;
}

.maroon {
  color: maroon;
}

.buttons {
  display: flex;
}

.buttons > *:not(:last-child) {
  margin-right: 1em;
}

.button {
  color: white;
  text-decoration: none;
  padding: 0.5em;
}

.button.bordered {
  border: thin solid white;
  border-radius: 2px;
}

.body {
  padding: 1em;
}

@media only screen and (min-width: 1200px) {
  .body {
    width: 50vw;
    padding: 0;
  }
}

.faq-section > * {
  flex: 1;
}

.faq-section h2 {
  margin-bottom: 0.5em;
}

.card {
  border: thin solid maroon;
  border-radius: 10px;
  margin: 0 0 1em 0;
}

.card .title {
  border-radius: 8px 8px 0 0;
  background: maroon;
  color: white;
  padding: 0.35em;
}

.card .content {
  padding: 0.5em;
}
