html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='static/style.css')
        block head
    body
        .header
            h1 Code#[span.maroon LM] 2021
            h4 The hype is real
            .divider
            .buttons
                a.button.bordered(href='https://dashboard.newwavecomputers.com/') Dashboard
                a.button(href='faq.html') Frequently Asked Questions
                a.button(href='2015.html') Past Events
                a.button(href='staff.html') Staff
                a.button(href='sponsor.html') Sponsor
        block body
