:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex {
  flex: 1;
}

.fix-size:nth-child(2) {
  overflow-y: scroll;
}

table {
  width: 100%;
}

.board {
  border-collapse: collapse;

  & td {
    border: thin solid black;
    padding: 0.75em;
    text-align: center;
    width: 10%;
  }
}
